---
        layout: default
---

:ruby
    UTOKYO = 'the University of Tokyo'.freeze
    CS = 'Computer Science'.freeze
    CST = "#{CS} and Technology".freeze
    MY_UNIV = "Departure of #{CS} of #{UTOKYO}".freeze
    MY_GRAD_UNIV = "Graduate school of #{CST}of #{UTOKYO}".freeze
    MY_BLOG = 'http://yuchiki1000yen.hatenablog.com'.freeze
    F_STAR = "#{MY_BLOG}/entry/2018/07/07/155854".freeze

%a{ href: '/profile' } 日本語
%br
%h1 Yuchiki
I'm doing Master's in computer science.
%h1 Profile
%h2 History
%ul
    %li 2019-4 -        Working
    %li 2017-4 - 2019-3 #{MY_GRAD_UNIV}
    %li 2015-4 - 2017-3 Graduate from #{MY_UNIV}
    %li 2013-4 - 2015-3 #{UTOKYO}
%h2 (Natural) Languages
%ul
    %li Japanese: Native
    %li English: A little bit
    %li Latin: Basic Grammar
%h2 (Programming) Languages and tools
%h3 Experience in Work
%ul
    %li Ruby
    %li haml
    %li scss
    %li Coffee Script
    %li Ruby on Rails
    %li Jenkins (CI tool)
%h3 Using in hobby programming
%ul
    %li Haskell
    %li C++
    %li C#
    %li Travis CI (CI tool)
%h3 Experience in Univ's Class
%ul
    %li C
    %li PowerPC Assembly
    %li Scheme
    %li OCaml
    %li Haskell
    %li VHDL
    %li Python
%h3 I have written Hello World, FizzBuzz or such very small programs in...
%ul
    %li VB6
    %li VB.net
    %li TypeScript
    %li JavaScript
    %li Brainf*ck
    %li Unlambda
    %li Lua
    %li MIPS Assembly
    %li Common Intermediate Language (dotnet VM Assembly)
    %li
        %a{ href: F_STAR } F*
%h1 I'm interested in...
%h2 Computer Science
%ul
    %li Type theory
    %li Formal Verification
    %li Formal Logic
    %li Language Design
    %li Language Processor
    %li C#
%h2 Linguistics
%ul
    %li Comparative Linguistics
    %li Historical Linguistics
    %li Phonetics
    %li Phonology
    %li Lingua Latina
%h2 Others
%ul
    %li Traditional Japanese Songs
    %li Traditional Western Songs
    %li Rokyoku, Japanese Song-and-talk Style Epics
    %li Walking streets or trees
%h1 Accounts
%dl
    %dt Twitter
    %dd
        %a{ href: 'https://twitter.com/yuchiki1000yen' } @yuchiki1000yen
    %dt Github
    %dd
        %a{ href: 'https://github.com/yuchiki' } yuchiki
    %dt Blog
    %dd
        %a{ href: 'http://yuchiki1000yen.hatenablog.com' } Amosapientiam
%br
%h3 AtCoder
Only a little bit problems solved I.
%a{ href: 'http://kenkoooo.com/atcoder/?user=yuchiki' } Kenkoooo.com
= img('atcoder', 'kenkoo.png', "the languages I've used in AtCoder Contests.")
